<img src='~/img/waterhair.jpg' alt="Eau Claire Hair" height="200px" width="250px" class="logo">
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/stylists">Stylists</a></li>
    <li role="presentation"><a href='/stylists/create'>Add New Stylist</a></li>
    <li role="presentation"><a href='/clients'>Clients</a></li>
    <li role="presentation"><a href='/clients/create'>Add New Client</a></li>
  </ul>
  